[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
twine = "*"
wheel = "*"
markdown-it-py = {extras = ["linkify", "plugins"], version = "*"}
pyyaml = "*"

[dev-packages]
harrix-pyssg = {editable = true, path = "."}
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
