[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
twine = "*"
markdown = "*"
wheel = "*"
harrix-pylib = "*"
pdoc = "*"

[dev-packages]
black = "*"
harrix-pyssg = {editable = true, path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
