[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
twine = "*"
markdown = "*"
harrix-pylib = {version = "*", index = "https://test.pypi.org/simple/"}
wheel = "*"

[dev-packages]
autopep8 = "*"
black = "*"
harrix-pyssg = {editable = true, path = "."}

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
